
{{#partial "content"}}
    <div class="view text-center">
    <p>Hero Name: {{name}}</p>

    <p>{{hero.name}} is aged {{hero.age}}</p>
    <p>Hero powers:{{hero.power}}</p>

    <p>Hero Weakness:{{hero.weakness}} </p>

    </div>
{{/partial}}
{{>layout.hbs}}
