
{{#partial "content"}}
    <p>Hero Name</p>
    <p>{{hero.name}}</p>
    <p>{{hero.name}} is aged {{hero.age}}</p>
    <p>Hero powers</p>
    <p>{{hero.power}}</p>
    <p>Hero Weakness</p>
    <p>{{hero.weakness}} </p>
{{/partial}}
{{>layout.hbs}}