{{#partial "content"}}


          <!-- Navbar -->
          <!-- Full Page Intro -->

            <!-- Mask & flexbox options-->
            <div class="mask rgba-black-light align-items-center">
              <!-- Content -->
              <div class="container">
                <!--Grid row-->
                <div class="row">
                  <!--Grid column-->
                  <div class="col-md-12 mb-4 white-text text-center">

                    <hr class="hr-light my-4 wow fadeInDown" data-wow-delay="0.4s">


                      {{#if hero}} <!--if posts exist, then -->
                          {{#each hero }} <!--loop-->
                              <a class="btn btn-outline-white" onclick="btnClick()"  href="/heroes/{{id}}">View Hero details <i class="fas fa-dragon animated wobble infinite"></i> </a>

                              <p> Hero Name:<a href="/heroes/{{id}}">{{name}}</a></p> <!--show-->
                          {{/each}}
                      {{else}} <!--no posts!-->
                          <p>No hero yet!</p>
                      {{/if}}

                   <h3>Squad Details</h3>

                      {{#if squads}} <!--if posts exist, then -->
                          {{#each squads}} <!--loop-->
                              <a class="btn btn-outline-white " onclick="btnClick()"  href="/squads/{{id}}">View Squad List <i class="fas fa-dragon animated wobble infinite"></i> </a>
                              <p> Squad Name:<a href="/squads/{{id}}">{{sName}}Squad</a></p> <!--show-->
                          {{/each}}
                      {{else}}
                          <!--no posts!-->
                          <p>No Squad yet!</p>
                      {{/if}}

                  </div>

                  <!--Grid column-->
                </div>
                <!--Grid row-->
              </div>
              <!-- Content -->
            </div>
            <!-- Mask & flexbox options-->

          <!-- Full Page Intro -->
        </header>
        <!-- Main navigation -->
        <!--Main Layout-->
        <main>
          <div class="container">
            <!--Grid row-->
            <div class="row py-5">
              <!--Grid column-->
              <div class="col-md-12 text-center">

              </div>
              <!--Grid column-->
            </div>
            <!--Grid row-->
          </div>
        </main>
        <!--Main Layout-->
{{/partial}}

 {{> layout.hbs}}